.Education__section {
  padding: 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.Education__heading {
  color: #0660e9;
  display: flex;
  /* justify-content: center; */
  padding-left: 60px;
  margin: 30px;
  font-style: italic;
}
.Education__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 50px;
  padding-left: 80px;
  /* grid-gap: 40px; */
  /* padding-left: 80px; */
}

.Education__container-card {
  background: #fff;
  box-shadow: 0 6px 20px rgba(56, 155, 255, 0.2);
  width: 300px;
  height: 340px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Education__container-card:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
  /* color: #1c2233; */
}
.Education__container-cardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Education__icon {
  margin: 24px 0;
}
.Education__icon img {
  border-radius: 50%;
}
.degree {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  margin: 15px 0;
}
.institute {
  color: #000;
  padding-left: 18px;
  font-size: 16px;
}
.diploma {
  margin-left: 40%;
}
.be {
  margin-left: 35%;
}
.sslc {
  margin-left: 30%;
}
@media screen and (max-width: 960px) {
  .Education__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 25px;
  }
  .Education__container-card {
    background: #fff;
    box-shadow: 0 6px 20px rgba(56, 155, 255, 0.2);
    width: 300px;
    height: 300px;
    text-decoration: none;
    border-radius: 4px;
  }
}
