.container-sec {
  height: 92vh;
  background: rgb(67, 67, 219);
}
.container-main {
  display: flex;
  padding: 70px;
  align-content: center;
  justify-content: space-around;
}
.name-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-img {
  height: 400px;
  width: 350px;
  background: cornsilk;
}
@media screen and (max-width: 960px) {
  .container-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .name-img {
    height: 300px;
    width: 300px;
    background: cornsilk;
  }
}
