.Project__main {
  margin: 20px 80px;
  text-transform: uppercase;
}
.More_contents {
  margin: 0 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.More_contents p3 {
  padding: auto;
}
.Project__name {
  padding: 10px 20px;
}
